
/* General Setting */

html{
    font-family:'Roboto',sans-serif;
}

a{
    color:black;
    font-weight:500;
}

a:hover, a:focus{
    color:#0096FF;
}

a:visited{
    color:rgb(50,50,50);
}

h2{
    font-weight:400;
}

blockquote{
    font-size:2.5em;
    font-weight:500;
    width:83%;
    margin:auto;
    color:rgb(97, 97, 97);
    line-height:1.3em;
    margin-top:1em;
    margin-bottom:1em;
    border-top:rgb(150,150,150) solid 0.5px;
    border-bottom:rgb(150,150,150) solid 0.5px;
    padding-top:0.75em;
    padding-bottom:0.75em;
}


.text-emphasize{
    font-weight:600;
}




/* Nav Menu */
.text-header{
    font-family:'Roboto', sans-serif;
    font-weight:600;
    font-size:1.75em;
    letter-spacing: 8px
}

.text-nav{
    font-family:'Roboto', sans-serif;
    font-weight:400;
    letter-spacing: 1px
}

/* Page - About */
.text-about{
    font-family:'Helvetica',sans-serif;
    font-weight:lighter;
    margin-top: 80px;

}

/* Page - Index */
.text-index-intro{
    font-family:'Roboto',sans-serif;
    color:rgb(80,80,80);
    font-size:1.2em;
    font-weight:300;
    line-height:1.8em;
    margin-top: 4em;
    margin-bottom:5em;

}


.beep img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 20%;
    object-fit: cover;
}

.projectThumbnail{
    border:2px coral;
}


.thumbnail-overlay{
    position:absolute; 
    background-color:rgba(100,100,100,0)k; 
    top:0; 
    bottom:0; 
    left:0; 
    right:0;
    color:rgba(50,50,50,0);
    font-size:1.2em;
    font-weight:300;
    text-align:center;
    padding-top:30%;
    transition-property: background-color,color;
    transition-duration:0.5s;
}

.thumbnail-overlay:hover{
    background-color:rgba(41, 54, 77, 0.7);
    color:rgb(233, 233, 233);
}

/* Page - projects/design */
.project-cover img{
    width: 100%;
    height:60%;
    object-fit:cover
}

p{
    font-weight:300;
    font-size:0.95em;
    color:rgb(50,50,50);
}

.p_larger{
    color:black;
    font-weight:300;
    font-size:1.5em;
    font-style: italic;
}

.project_title_annotate{
    color:rgb(100,100,100);
}

a-scene {
    height: 100%;
    width: 100%;
  }